.ad {
  position: relative;
  padding-top: 148px!important;
}
.header-advertising-card {
  margin: 0 auto;
  height: var(--first-add-height);
  background: var(--ad-background-color);
}
.ad-container {
  margin: 0 auto;
  height: var(--second-add-height);
  background: var(--ad-background-color);
}
.ad-container-card {
  height: var(--second-add-height);
  background: var(--ad-background-color);
}

@media (max-width: 768px) {
  .ad {
    padding-top: 98px!important;
  }
}
